@font-face { font-family: "art.mono"; font-weight: 100; src: url("ttf/Thin.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 200; src: url("ttf/ExtraLight.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 300; src: url("ttf/Light.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 400; src: url("ttf/Regular.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 500; src: url("ttf/Medium.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 600; src: url("ttf/SemiBold.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 700; src: url("ttf/Bold.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 800; src: url("ttf/ExtraBold.ttf"); }
@font-face { font-family: "art.mono"; font-weight: 900; src: url("ttf/Black.ttf"); }